html,
body,
.ember-application > .ember-view,
.ember-application > .ember-view > .ember-view {
  height: 100%; margin: 0;
}

.ts {
  display: flex;
  flex-flow: row;
  height: 100%;
  margin: 0;
}

.ts nav {
  width: 220px;
  border-right: 1px solid silver;
}

.ts nav ul {
  padding: 0;
  margin: 0;
}

.ts nav ul li {
  list-style: none;
}

.ts nav a {
  display: block;
  border-bottom: 1px dashed silver;
  padding: 0 0 10px;
  margin: 0 5px 10px;
}

.ts iframe {
  width: 100%;
  border: none;
  min-height: 400px;
  flex: 1 1;
}
