<main class="ts">
  <div class="ts-feature-list">
    <header class="ts-header">
      <h1>Features</h1>
    </header>
    {{#each features as |feature|}}
      {{feature-module feature}}

      <nav>
        {{#each feature.tests as |test|}}
          {{feature-item feature test}}
        {{/each}}
      </nav>
    {{/each}}
  </div>

  <iframe class="ts-player" id="tsplayer" name="tsplayer" src="data:text/plain,Pick a feature"></iframe>
</main>
