<main class="ts">
  <div class="ts-feature-list">
    <header class="ts-header">
      <h1>Features</h1>
    </header>
    {{#each features as |feature|}}
      {{feature-module feature}}

      <nav>
        {{#each feature.tests as |test|}}
          {{#link-to 'stories.story' test.id class="ts-feature-item"}}{{test.name}}{{/link-to}}
        {{/each}}
      </nav>
    {{/each}}
  </div>

  {{outlet}}
</main>
