<main class="ts">
  <div class="ts-feature-list">
    <header class="ts-header">
      <h1>Features</h1>
    </header>
    {{#each modules as |module|}}
      {{feature-module module}}

      <nav>
        {{#each module.tests as |test|}}
          {{feature-item module test}}
        {{/each}}
      </nav>
    {{/each}}
  </div>

  <iframe class="ts-player" id="tsplayer" name="tsplayer" src="data:text/plain,Pick a feature"></iframe>
</main>
